.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar__logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.selected__item {
  width: 200px;
  color: white;
}

.selected__text {
  display: block;
  width: 100%;
  background-color: rgb(165, 165, 165);
  border-radius: 5px;
}

.selected__text:hover {
  background-color: rgb(199, 98, 98);
  transition: background-color 1s;
}

.selected__text:hover span {
  display: none;
}

.selected__text:hover:before {
  content: "Deselect?";
  cursor: pointer;
}

.selected__submit {
  height: 30px;
}

/* https://stackoverflow.com/questions/3397113/how-to-remove-focus-border-outline-around-text-input-boxes-chrome */
input:focus, button:focus {
  outline: none;
}


.button-bg {
  border: #EF6A4E solid 2px;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  color: #EF6A4E;
  letter-spacing: 2px;
  background-color: #fff;
  outline: none;
}

.button-bg:hover {
  background-color: #EF6A4E;
  color: #fff;
  outline: none;
}

.flash-message {
  padding: 20px;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  margin-top: 20px;
  text-align: center;
}

.alert {
  padding: 20px;
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  margin-top: 20px;
  text-align: center;

}
.body-container {
  margin: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}